/*------------------------------------------------------------------
[Master Stylesheet]
Project:	Born to give
Version:	1.1
Last change:	12/15/15
Author:	imithemes 
-------------------------------------------------------------------*/
/* Stylesheets and Google fonts import */
@import url("font-awesome.css");
@import url("line-icons.css");
@import url("animations.css");
@import url(http://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Dosis);


/*------------------------------------------------------------------
[Table of contents]

0. CSS Reset
1. Basic Styles
2. Typography
3. Margin Bottom Sets
4. Padding Sets
5. Spacers Sets
6. Site Structure & Appearance
7. Responsive Media Queries
-------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/
/* 0. RESET */
/*-------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	outline:none;
}
iframe{
	border:0;
}

/* ==================================================
   1. Basic Styles
================================================== */

html, body {
	height: 100%;
}

html, hmtl a{
	width:100%;
	font-size: 100%; 
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}
a{
	color:#5e5e5e;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
a:hover,
a:active,
a:focus{
	text-decoration:none;
	outline: 0;
	color:#5e5e5e;
}
.basic-link:hover{
	opacity:.8
}
a img {
	border: none;
}
a > img {
	vertical-align: middle;	
}
.gray-bg{
	background:#CDCBCB;
}
.gray-text{
	color:#CDCBCB;
}
.lgray-bg{
	background:#F7F7F7;
}
.dgray-bg{
	background:#454545;
}
img {
	max-width: 100%;	
}
img, object, embed, audio, video {
	max-width: 100%;
}
img {
	height: auto;
}
strong, .strong {
  	font-weight: 700;
}
p {
	margin: 0 0 20px;
}
i, em, .italic{
	font-style:italic;
}
.uppercase{
	text-transform:uppercase;
}
.align-left{
	float:left;
	margin:5px 25px 20px 0px!important;
}
.align-right{
	float:right;
	margin:5px 0 20px 25px!important;
}
.text-align-left {
	text-align: left;
}
.text-align-center {
	text-align: center;
}
.text-align-right {
	text-align: right;	
}
.color-text {
    color: #ffffff;
}
.through{
	text-decoration:line-through;
}
.border-radius{
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
}
::-webkit-input-placeholder {
   color: #999;
}

:-moz-placeholder { /* Firefox 18- */
   color: #999;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #999;  
}

:-ms-input-placeholder {  
   color: #999;  
}
iframe{
	border:0;
}

/* ==================================================
   2. Typography
================================================== */

h1,
h2,
h3,
h4,
h5,
h6{
	margin:0 0 15px 0;
	color:#333;
	font-weight:400;
	line-height:1.5em;
	font-family: 'Playfair Display', serif;
}
h1{
	font-size:42px;
}
h2{
	font-size:36px;
}
h2 small{
	display:block;
	letter-spacing:.1em;
	text-transform:uppercase;
	font-size:45%
}
h3{
	font-size:24px;
}
h4{
	font-size:18px;
	text-transform:uppercase;
	letter-spacing:2px;
}
h5{
	font-size:15px;
	font-family:"Lato", sans-serif;
}
h6{
	font-size:13px;
}
h1.short, h2.short, h3.short, h4.short, h5.short, h6.short, p.short{
	margin-bottom:5px;
}
h1.long, h2.long, h3.long, h4.long, h5.long, h6.long, p.long{
	margin-bottom:35px;
}
h1.spaced, h2.spaced, h3.spaced, h4.spaced, h5.spaced, h6.spaced {
    margin-top: 22px;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color:#333;
	text-decoration:none;
}
h1 .label, h2 .label, h3 .label, h4 .label, h5 .label, h6 .label{
	font-size:11px;
	position:relative;
	top:-6px;
}
.huge{
	font-size:10em;
}
blockquote{
	margin:30px;
}
blockquote p{
	margin-bottom:0;
	white-space:1px;
	line-height:1.8em;
	font-size:19px;
}
blockquote cite{
	font-weight:700;
}
blockquote cite:before{
	content:"- ";
}
p.lead{
	font-size:20px;
	line-height:28px;
}
p.md{
	font-size:16px;
}
p.lg{
	font-size:30px;
}
.lighter p{
	color:#ccc;
}
p.small{
	font-size:10px;
	line-height:13px;
}
.big{
	font-size:200%;
	line-height:1.5em;
}
.thin{
	font-weight:300;
}
p.drop-caps:first-child:first-letter {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    padding: 4px;
    font-size: 75px;
    line-height: 60px;
}
p.drop-caps.secondary:first-child:first-letter {
    margin-right: 10px;
    padding: 6px 12px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
}
hr{
	display:block;
	clear:both;
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
	height:1px;
	border:0;
	background:#E8E8E8;
}
hr.sm{
	display:inline-block;
	margin:0 0 15px 0;
	width:40px;
	height:3px;
	border:0;
	position:relative;
}
hr.sm:before{
	position:absolute;
	width:3px;
	height:3px;
	content:" ";
	right:-6px;
	background:#F23827;
}
.text-align-center hr.sm:after{
	position:absolute;
	width:3px;
	height:3px;
	content:" ";
	left:-6px;
}
hr.md{
	display:inline-block;
	margin:15px 0;
	width:100px;
	height:2px;
	border:0;
}
hr.fw{
	display:block;
	clear:both;
	margin-top:50px;
	margin-bottom:43px;
	width:100%;
	height:1px;
	border:0;
	background:#eee;
}
hr.fw.cont{
	margin:20px 0;
}
ul.checks, ul.angles, ul.carets, ul.chevrons, ul.icons{
	margin:0;
	list-style-type:none;
	margin-bottom:20px;
}
ul.checks > li, ul.angles > li, ul.carets > li, ul.chevrons > li, ul.icons > li{
	margin:5px 0;
}
ul.checks > li > i, ul.angles > li > i, ul.carets > li > i, ul.chevrons > li > i, ul.icons > li > i{
	margin-right:2px;
}
ul.inline{
	margin:10px 0;
}
ul.inline > li{
	display:inline-block;
	margin-right:10px;
}
ul.inline > li i.fa{
	margin-right:2px;
}
ul.nav-list-primary > li a{
	display:block;
	padding:8px;
	border-bottom:1px solid #eee;
	color:#666666;
	text-decoration:none;
}
ul.nav-list-primary > li a:hover{
	text-decoration:none;
}
ul{
	margin:10px 0 10px 20px;
	list-style-type:disc;
}
ol{
	margin:10px 0 10px 30px;
	list-style-type: decimal;
}
ul ul, ol ul{
	margin:10px 0 10px 20px;
}
ul ul{
	list-style-type:circle;
}
dl{
	margin:10px 0;
}
dl dt{
	font-weight:700;
}
address.ico i{
	display:inline-block;
	float: left;
	clear:both;
	padding-top: 3px;
}
address.ico p{
	margin:0;
	padding-bottom:10px;
}
address.ico span{
	display:inline-block;
	padding-left:20px;
}
.cursive{
	font-style:italic;
	text-transform:none;
	font-weight:400;
	letter-spacing:0;
}
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight:700;
}

/* ==================================================
   3. Margin Bottom Sets
================================================== */

.margin-0{
	margin-bottom:0 !important;
}
.margin-5{
	margin-bottom:5px !important;
}
.margin-10{
	margin-bottom:10px !important;
}
.margin-15{
	margin-bottom:15px !important;
}
.margin-20{
	margin-bottom:20px !important;
}
.margin-30{
	margin-bottom:30px !important;
}
.margin-40{
	margin-bottom:40px !important;
}
.margin-50{
	margin-bottom:50px !important;
}
.margin-60{
	margin-bottom:60px !important;
}
.margin-70{
	margin-bottom:70px !important;
}
.margin-80{
	margin-bottom:80px !important;
}
.push-top{
	margin-top:35px;
}

/* ==================================================
   4. Padding Sets
================================================== */
.padding-b0{
	padding-bottom:0!important;
}
.padding-tb0{
	padding-top:0!important;
	padding-bottom:0!important;
}
.padding-tb20{
	padding-top:20px;
	padding-bottom:20px;
}
.padding-tb45{
	padding-top:45px;
	padding-bottom:45px;
}
.padding-tb75{
	padding-top:75px;
	padding-bottom:75px;
}
.padding-tb100{
	padding-top:100px;
	padding-bottom:100px;
}
.padding-tb125{
	padding-top:125px;
	padding-bottom:125px;
}
/* ==================================================
   5. Spacers Sets
================================================== */
.spacer-10{
	height:10px;
	clear:both;
	width:100%;
}
.spacer-20{
	height:20px;
	clear:both;
	width:100%;
}
.spacer-30{
	height:30px;
	clear:both;
	width:100%;
}
.spacer-40{
	height:40px;
	clear:both;
	width:100%;
}
.spacer-50{
	height:50px;
	clear:both;
	width:100%;
}
.spacer-60{
	height:60px;
	clear:both;
	width:100%;
}
.spacer-75{
	height:75px;
	clear:both;
	width:100%;
}
.spacer-100{
	height:100px;
	clear:both;
	width:100%;
}
/* ==================================================
   5. Multi purpose Elements
================================================== */
.overlay-transparent{
	background:rgba(0,0,0,.7);
}
.overlay-white{
	background:rgba(255,255,255,.99);
}
.checkers-overlay{
	background:url(../images/checkers.png) repeat;
}
.pattern-overlay{
	background:url(../images/pattern.png) repeat;
}
.overlay-cover{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	opacity:.9;
	z-index:0;
}
.next-prev-nav{
	display:inline-block;
}
.next-prev-nav a{
	display:inline-block;
	width:20px;
	height:20px;
	color:#fff;
	text-align:center;
	line-height:20px;
	text-decoration:none;
}
.next-prev-nav a:hover{
	color:#fff;
}
.meta-data-thick{
	text-transform:uppercase;
	font-weight:700;
	font-size:10px;
	color:#333;
}
.meta-data{
	color:#aaa;
	font-size:12px;
	line-height: 16px;
	display:block;
	font-weight:400;
	text-transform:uppercase;
	font-family:"Lato", sans-serif;
}
.meta-data a{
	color:#999;
}
.meta-data a:hover{
	text-decoration:none;
}
.meta-data > span{
	display:inline-block;
}
.meta-data i{
	margin-right:4px;
}
.meta-data > span:last-child{
	margin-right:0;
}
p.meta-data{
	font-size:16px;
	line-height:1.7em;
}
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: -o-transform, opacity;
	transition-property: transform, opacity;
}
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}
.media-box{
	position:relative;
	z-index:1;
	display:inline-block;
	max-width:100%;
}
.format-gallery .media-box{
	display:block;
}
.media-box .zoom, .media-box .expand{
	position:absolute;
	width:100%;
	height:100%;
	text-align:center;
	font-size:1.5em;
	z-index:99;
	left:0;
	top:0;
	margin:0;
	background-color:rgba(0,0,0,.4);
	opacity:0;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
.media-box .zoom .icon, .media-box .expand .icon{
	width:44px;
	height:44px;
	line-height:44px;
	text-align:center;
	color:#fff!important;
	position:absolute;
	font-size:1.4em;
	top:50%;
	left:50%;
	margin:-22px 0 0 -22px;
}
.img-thumbnail img:hover, .img-thumbnail:hover{
	opacity:.9
}
.media-box:hover .zoom, .media-box:hover .expand{
	opacity:1;
	-webkit-transition: opacity .3s .2s;
	-moz-transition: opacity .3s .2s;
	-ms-transition: opacity .3s .2s;
	-o-transition: opacity .3s .2s;
	transition: opacity .3s .2s;
}
.media-box .media-box-wrapper{
	padding:30px;
}
.social-icons, .social-icons-colored{
	margin:0;
	list-style-type:none;
}
.social-icons li, .social-icons-colored li{
	display:inline-block;
	margin-right:5px;
}
.social-icons li:last-child{
	margin-right:0;
}
.social-icons li a{
	text-align:center;
	color:#5E5E5E;
	display:block;
}
.social-icons-colored li a{
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	background:rgba(0,0,0,.4);
	display:block;
	color:#fff;
}
.social-icons li.facebook a:hover{
	color:#3B5998;
}
.social-icons li.twitter a:hover{
	color:#00ACED;
}
.social-icons li.behance a:hover{
	color:#1769FF;
}
.social-icons li.delicious a:hover{
	color:#3274D1;
}
.social-icons li.deviantart a:hover{
	color:#4B5D50;
}
.social-icons li.digg a:hover{
	color:#14589E;
}
.social-icons li.dribbble a:hover{
	color:#EA4C89;
}
.social-icons li.foursquare a:hover{
	color:#2398C9;
}
.social-icons li.github a:hover{
	color:#4183C4;
}
.social-icons li.google a:hover{
	color:#245DC1;
}
.social-icons li.googleplus a:hover{
	color:#D14836;
}
.social-icons li.instagram a:hover{
	color:#3F729B;
}
.social-icons li.jsfiddle a:hover{
	color:#4679A4;
}
.social-icons li.linkedin a:hover{
	color:#007FB1;
}
.social-icons li.pinterest a:hover{
	color:#CB2027;
}
.social-icons li.reddit a:hover{
	color:#FF4500;
}
.social-icons li.skype a:hover{
	color:#00AFF0;
}
.social-icons li.tumblr a:hover{
	color:#2C4762;
}
.social-icons li.vimeo a:hover{
	color:#44BBFF;
}
.social-icons li.youtube a:hover{
	color:#CD332D;
}
.social-icons li.flickr a:hover{
	color:#0063DB;
}
.social-icons-colored li.facebook a:hover{
	background-color:#3B5998;
}
.social-icons-colored li.twitter a:hover{
	background-color:#00ACED;
}
.social-icons-colored li.behance a:hover{
	background-color:#1769FF;
}
.social-icons-colored li.delicious a:hover{
	background-color:#3274D1;
}
.social-icons-colored li.deviantart a:hover{
	background-color:#4B5D50;
}
.social-icons-colored li.digg a:hover{
	background-color:#14589E;
}
.social-icons-colored li.dribbble a:hover{
	background-color:#EA4C89;
}
.social-icons-colored li.foursquare a:hover{
	background-color:#2398C9;
}
.social-icons-colored li.github a:hover{
	background-color:#4183C4;
}
.social-icons-colored li.google a:hover{
	background-color:#245DC1;
}
.social-icons-colored li.googleplus a:hover{
	background-color:#D14836;
}
.social-icons-colored li.instagram a:hover{
	background-color:#3F729B;
}
.social-icons-colored li.jsfiddle a:hover{
	background-color:#4679A4;
}
.social-icons-colored li.linkedin a:hover{
	background-color:#007FB1;
}
.social-icons-colored li.pinterest a:hover{
	background-color:#CB2027;
}
.social-icons-colored li.reddit a:hover{
	background-color:#FF4500;
}
.social-icons-colored li.skype a:hover{
	background-color:#00AFF0;
}
.social-icons-colored li.tumblr a:hover{
	background-color:#2C4762;
}
.social-icons-colored li.vimeo a:hover{
	background-color:#44BBFF;
}
.social-icons-colored li.youtube a:hover{
	background-color:#CD332D;
}
.social-icons-colored li.flickr a:hover{
	background-color:#0063DB;
}
.social-icons-rounded a{
	border-radius:100%;
}
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
} 
html[xmlns] .slides {
	display: block;
} 
* html .slides {
	height: 1%;
}
.flexslider .slides {
	zoom: 1;
	margin:0;
	list-style-type:none;
}  
.hero-slider{
	position:relative;
	z-index:1;
	width:100%;
	overflow:hidden;
	background-image:url(../images/loader.gif) no-repeat center center;
}
.hero-slider .flex-viewport{
	width:100%;
}
.hero-slider.flexslider > ul.slides{
	height:100%;
}
.hero-slider.flexslider ul.slides li{
	width:100%;
	overflow:hidden;
	position:relative;
	background-attachment:scroll!important
}
.flexslider ul.slides li > a{
	display:block;
}
.flexslider .flex-control-nav{
	width:100%;
	text-align:center;
	position:absolute;
	z-index:111;
	left:0;
	bottom:10px;
	padding:0;
	margin:0;
}
.hero-slider.flexslider .flex-control-nav{
	bottom:-40px;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
.hero-slider.flexslider:hover .flex-control-nav{
	bottom:10px;
	-webkit-transition: bottom .3s .2s;
	-moz-transition: bottom .3s .2s;
	-ms-transition: bottom .3s .2s;
	-o-transition: bottom .3s .2s;
	transition: bottom .3s .2s;
}
.flexslider .flex-control-nav li{
	display:inline;
}
.flexslider .flex-control-nav a{
	width:12px;
	height:12px;
	border-radius:100%;
	background-color:#ffffff;
	display:inline-block;
	margin:0 6px;
	text-indent:-9999px;
	text-decoration:none;
}
.flexslider .flex-prev, .flexslider .flex-next{
	background:rgba(34,34,34,.7);
	color:#F9F9F9;
	margin-bottom:10px;
	position:absolute;
	top:50%;
	right:10px;
	font-size:14px;
	line-height:25px;
	width:25px;
	height:25px;
  	font-family: FontAwesome;
  	font-style: normal;
  	font-weight: normal;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-decoration:none;
	display:none;
	text-align:center;
	margin-top:-13px;
}
.flexslider .flex-prev:hover, .flexslider .flex-next:hover{
	background:rgba(34,34,34,1);
}
.flexslider .flex-prev{
	left:10px;
	right:auto;
}
.flexslider .flex-prev:before{
  content: "\f104";
}
.flexslider .flex-next:before{
  content: "\f105";
}
.hero-slider.flexslider .flex-prev, .hero-slider.flexslider .flex-next{
	width:70px;
	height:70px;
	right:-70px;
	margin-top:-35px;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	font-size:30px;
	line-height:70px;
	display:block;
	text-align:center;
}
.header-style2 .hero-slider.flexslider .flex-prev, .header-style2 .hero-slider.flexslider .flex-next, .header-style3 .hero-slider.flexslider .flex-prev, .header-style3 .hero-slider.flexslider .flex-next{
	margin-top:-45px;
}
.flexslider:hover .flex-prev, .flexslider:hover .flex-next{
	display:block;
}
.hero-slider.flexslider ul.slides li > a{
	display:block;
	height:100%;
	width:100%;
}
.hero-slider.flexslider .flex-prev{
	left:-70px;
}
.hero-slider.flexslider:hover .flex-prev{
	left:10px;
	-webkit-transition: left .3s .2s;
	-moz-transition: left .3s .2s;
	-ms-transition: left .3s .2s;
	-o-transition: left .3s .2s;
	transition: left .3s .2s;
}
.hero-slider.flexslider:hover .flex-next{
	right:10px;
	-webkit-transition: right .3s .2s;
	-moz-transition: right .3s .2s;
	-ms-transition: right .3s .2s;
	-o-transition: right .3s .2s;
	transition: right .3s .2s;
}
.flex-direction-nav{
	margin:0;
	list-style-type:none;
}
.basic-link{
	display:inline-block;
	font-weight:700;
	font-size:13px;
	line-height:32px;
	text-transform:uppercase;
}
.basic-link > i{
	border-radius:100%;
	width:32px;
	height:32px;
	border:2px solid #e6e6e6;
	text-align:center;
	line-height:30px;
	font-size:18px;
	margin-right:10px;
}

.basic-link:hover{
	color:#505050;
	text-decoration:none;
}
.basic-link.inverted{
	text-transform:uppercase;
	margin-top:10px;
}
.basic-link.backward .fa-angle-right{
	display:none;
}
.grid-filter{
	margin:0 0 50px 0;
}
.grid-filter-lable{
	display:inline-block;
	margin-right:20px;
	text-transform:uppercase
}
.sort-source{
	list-style-type:none;
	display:inline-block;
	margin:0;
}
.sort-source li{
	display:inline-block;
}
.sort-source li:after{
	content:"/";
	color:#ccc;
}
.sort-source.nav-pills li:after{
	content:"";
}
.sort-source li:last-child:after{
	content:"";
}
.sort-source li a{
	color:#999;
	margin:0 10px;
}
.sort-source.nav-pills li a{
	margin:0;
}
.sort-source.nav-pills li.active a{
	color:#fff;
}
.sort-source li:first-child a{
	margin-left:0;
}
.sort-source li a:hover{
	color:#222;
}
.sort-destination{
	margin:0;
	list-style-type:none;
}
.selectpicker{
	font-weight:400;
	padding-top: 5px;
	padding-bottom: 7px;
}
.selectpicker.btn-default{
	background:#fff;
	padding-left:10px;
	text-transform:none;
	font-size:15px;
	color:#8e959d;
	letter-spacing:0;
	text-shadow: none;
}
.input-lg .selectpicker{
	padding-top:12px;
	padding-bottom:11px;
}
.bootstrap-select.form-control{
	margin-bottom:20px!important;
}
.action-icons{
	list-style-type:none;
	margin:5px 0 0;
}
.dgray-bg .icon-box-inline p{
	color:rgba(255,255,255,.4);
}
.carousel-wrapper{
	overflow:hidden;
	background:url(../images/loader.gif) no-repeat center center;
	min-height:150px;
}
.owl-carousel .owl-wrapper-outer{
	padding-top:30px;
}
.widget .owl-carousel .owl-wrapper-outer{
	padding-top:10px;
}
.btn-rounded{
	border-radius:30px;
}
.light-title{
	color:#fff!important;
}
.gallery-items{
	list-style-type:none;
	margin:0;
}
.causes-list-item h4 a:hover, .urgent-cause .post-title a:hover, .flex-caption-cause h3 a:hover{
	color:#333;
}
.parallax-icon-link{
	opacity:.2;
	color:#fff;
}
.parallax-icon-link:hover{
	opacity:.9
}
.position-relative{
	position:relative;
}
.half-bg-right{
	position:absolute;
	right:0;
	top:0;
	width:50%;
	height:100%;
}
.featured-texts, .featured-links{
	margin-left:0!important;
	margin-right:0!important;
}

/* ==================================================
   6. Site Structure & Appearance
================================================== */
body{
	background-color:#fff;
	color:#898989;
	font-size:15px;
	font-weight:400;
	font-family:"Lato", sans-serif;
	line-height:1.55em;
	background-attachment:fixed;
	overflow-x:hidden;
}
body.boxed{
	background-color:#333;
}
body.boxed .body{
	position:relative;
	margin:0 auto;
	overflow:hidden;
	width:100%;
	max-width:1200px;
	height:auto;
	background-color:#ffffff;
	-webkit-box-shadow:0 0 2px rgba(0,0,0,.2);
	-moz-box-shadow:0 0 2px rgba(0,0,0,.2);
	box-shadow:0 0 2px rgba(0,0,0,.2);
}
@media (min-width: 1200px) {
	body.boxed .site-header{
		width:1200px;
		left:50%;
		margin-left:-600px;
	}
}
.site-header-wrapper{
	width:100%;
	position:absolute;
	z-index:999;
}
.header-style2 .site-header-wrapper, .header-style3 .site-header-wrapper{
	position:relative;
}
.header-style3 .site-header-wrapper{
	box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.05);
}
.site-header{
	z-index:3;
	width:100%;
	left:0;
  	-webkit-transition:all 0.3s ease 0.2s;
  	-moz-transition:all 0.3s ease 0.2s;
  	-ms-transition:all 0.3s ease 0.2s;
  	-o-transition:all 0.3s ease 0.2s;
  	transition:all 0.3s ease 0.1s;
	position:fixed;
}
.header-style2 .site-header, .header-style3 .site-header{
	position:relative;
	background:#fff;
}
.site-header .container{
	position:relative;
}
.site-header.sticky{
	-webkit-transition: background .3s .2s, box-shadow .3s .2s;
	-moz-transition: background .3s .2s, box-shadow .3s .2s;
	-ms-transition: background .3s .2s, box-shadow .3s .2s;
	-o-transition: background .3s .2s, box-shadow .3s .2s;
	transition: background .3s .2s, box-shadow .3s .2s;
	background:rgba(255,255,255,1);
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.header-style3 .is-sticky .site-header{
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.site-logo{
	padding:23px 0 20px;
	float:left;
}
.default-logo{
	display:block;
}
.sticky-logo{
	display:none;
}
.sticky .default-logo{
	display:none;
}
.sticky .sticky-logo{
	display:block;
}
.default-retina-logo, .sticky-retina-logo{
	display:none;
}
.header-style3 .site-logo{
	width:100%;
	text-align:center;
}
.header-style3 .fw-menu-wrapper{
	width:100%;
	background:#fff;
	z-index:1111;
}
.header-style3 .fw-menu-wrapper > .container, .header-style3 .site-header > .container{
	position:relative;
}
.fw-menu-wrapper .dd-menu{
	float:none;
}
.fw-menu-wrapper .dd-menu > li ul{
	top:100%;
}
.header-info-col{
	float:right;
	color:#fff;
	margin-left:30px;
	line-height:50px;
	margin-top:10px;
	font-family:13px;
}
.sticky .header-info-col, .header-style2 .header-info-col, .header-style3 .header-info-col{
	color:#333;
}
.dd-menu{
	margin:0;
	list-style-type:none;
}
.dd-menu > li{
	font-size:13px;
	position:relative;
	display:inline-block;
	float:left;
	margin-left:25px;
	margin-top:12px;
	font-family:"Lato", sans-serif;
}
.dd-menu > li > a{
	display:block;
	color:#fff;
	line-height:50px;
	text-transform:uppercase;
	letter-spacing:1px;
}
.dd-menu > li:hover > a{
	color:#fff;
}
.dd-menu > li > a > i{
	font-size:10px;
}
.dd-menu > li:hover > a > i{
	color:#fff;
}
.sticky .dd-menu > li > a, .header-style2 .dd-menu > li > a, .header-style3 .dd-menu > li > a{
	color:#333;
}
.dd-menu > li ul{
	margin:0;
	list-style-type:none;
	position:absolute;
	top:61px;
	left:-1px;
	z-index:999;
	display:none;
	min-width:100%;
	height:auto;
	background:#fff;
	margin-left:0;
	border-top:3px solid;
	-webkit-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.176);
	-moz-box-shadow:0px 3px 3px rgba(0, 0, 0, 0.176);
	box-shadow:0px 3px 3px rgba(0, 0, 0, 0.176);
}
.dd-menu > li:hover ul{
	display:block;
	-webkit-animation-name: fadeInUp;
	-moz-animation-name: fadeInUp;
	-o-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
.dd-menu > li > ul li{
	line-height: normal;
	font-size:14px;
	position:relative;
	font-weight:400;
}
.dd-menu > li.megamenu{
	position:static;
}
.dd-menu > li.megamenu > ul > li a:first-child i.fa-caret-right{
	display:none;
}
.dd-menu > li > ul > li > a, .dd-menu > li > ul > li > ul > li > a, .dd-menu > li > ul > li > ul > ul > li > a{
	display:block;
	padding:12px 20px;
	border-bottom:1px solid rgba(0,0,0,.05);
	white-space:nowrap;
	text-decoration:none;
	color:#5e5e5e;
}
.dd-menu > li > ul > li > a:hover{
	color:#333;
}
.dd-menu > li > ul > li > a:hover, .dd-menu > li > ul > li > ul > li > a:hover{
	text-decoration:none;
	background-color:#F6F6F6
}
.dd-menu > li > ul > li:last-child > a{
	border-bottom:0;
}
.dd-menu > li > ul li ul{
	margin:0;
	list-style-type:none;
	left:101%!important;
	top:0!important;
	min-width:150px;
	position:absolute;
	border:0;
}
.dd-menu > li.megamenu{
	position:inherit!important;
	left:0;
}
.dd-menu > li.megamenu > ul{
	margin:0;
	list-style-type:none;
	left:0!important;
	min-width:inherit;
	width:100%;
	top:100%;
}
.dd-menu .megamenu-container{
	padding:25px;
	width:100%;
}
.dd-menu .megamenu-container ul{
	margin:0;
	list-style-type:none;
	display:block!important;
	left:0!important;
	box-shadow:none;
	opacity:1!important;
	background:transparent;
	position:static!important;
	text-align:left!important;
	margin-left:0;
	border-top:0;
}
.dd-menu .megamenu-container .megamenu-sub-title{
	display:block;
	margin-bottom:35px;
	font-size:21px;
	color:#333;
	text-align:left;
}
.dd-menu .megamenu-container ul li{
	font-size:15px;
	border-left:0;
}
.dd-menu .megamenu-container ul li a{
	margin:0;
	border-bottom:0;
	color:#5e5e5e;
}
.dd-menu .megamenu-container ul.sub-menu li a{
	display:block;
	border-bottom:1px solid #eee;
	padding: 10px 0;
}
.dd-menu .megamenu-container ul.sub-menu li:first-child a{
	padding-top:0;
}
.dd-menu .megamenu-container ul.sub-menu li a:hover{
	text-decoration:none;
}
.header-style3 .dd-menu{
	width:100%;
	text-align:center;
}
.header-style3 .dd-menu > li{
	margin-top:0;
	float:none;
	display:inline-block;
	margin:0 30px;
}
.topbar{
	min-height:40px;
	color:#fff;
	background:#333;
}
.topbar .header-info-col{
	border:0;
	margin-left:0;
	margin-right:30px;
	margin-top:0;
	padding:0;
	float:left;
	color:#fff;
	line-height:40px;
}
.topbar .topmenu li{
	float:left;
	margin:0;
}
.topbar .topmenu.social-icons li:first-child{
	border-left:1px solid rgba(255,255,255,.2);
}
.topbar .topmenu a{
	display:inline-block;
	border-right:1px solid rgba(255,255,255,.2);
	padding:0 18px;
	line-height:40px;
	font-size:13px;
}
.topbar .topmenu a:hover{
	color:rgba(255,255,255,.7);
}
.topbar .topmenu.social-icons a:hover{
	background:#fff;
}
.topbar .topmenu a{
	color:#fff;
}
#menu-toggle{
	float:right;
	font-size:24px;
	line-height: 50px;
	margin-top: 10px;
	color:#fff;
	margin-left:40px;
}
.header-style2 #menu-toggle, .header-style3 #menu-toggle, .sticky #menu-toggle{
	color:#333;
}
.header-style3 #menu-toggle{
	position:absolute;
	right:15px;
}
.home .hero-area{
	min-height:250px;
	position:relative;
}
.hero-slider, .hero-slider.flexslider ul.slides li, .flex-caption-cell{
	height:600px;
}
.header-style2 .hero-slider, .header-style3 .hero-slider, .header-style2 .hero-slider.flexslider ul.slides li, .header-style3 .hero-slider.flexslider ul.slides li, .header-style2 .flex-caption-cell, .header-style3 .flex-caption-cell{
	height:550px;
}
.page-banner{
	min-height:300px;
	position:relative;
}
.page-banner-text{
	position:absolute;
	bottom:30px;
}
.page-banner h1{
	color:#fff;
	position:relative;
}
.block-title, .widgettitle{
	position:relative;
	margin-bottom:40px;
}
.block-title:before, .widgettitle:before{
	position:absolute;
	width:40px;
	height:3px;
	content:" ";
	left:0;
	bottom:-18px;
	background:#F23827;
}
.block-title:after, .widgettitle:after{
	position:absolute;
	width:3px;
	height:3px;
	content:" ";
	left:43px;
	bottom:-18px;
}
.block-title-center:before{
	left:50%;
	margin-left:-20px
}
.block-title-center:after{
	display:none;
}
.hero-slider{
	background-color:#666;
}
.flex-caption-table{
	width:100%;
	display:table;
	vertical-align:middle;
}
.flex-caption-cell{
	display:table-cell;
	vertical-align:middle;
}
.flex-caption-text{
	display:block;
}
.header-style2 .flex-caption-text, .header-style3 .flex-caption-text{
	padding-top:0;
}
.flex-caption-text h1, .flex-caption-text h2, .flex-caption-text h3, .flex-caption-text p{
	color:#fff;
	margin-bottom:30px;
}
.flex-caption-text h2{
	font-size:51px;
	line-height:60px;
}
.flex-caption-cause{
	background:rgba(255,255,255,1);
	padding:30px;
	width:350px;
	position:relative;
	display:inline-block;
	margin:0 auto;
	text-align:center;
}
.flex-caption-cause .meta-data{
	font-size:14px;
	margin-bottom:20px;
}
.featured-links{
	position:relative;
}
.featured-links .featured-link{
	height:100px;
	text-align:center;
	color:#fff;
	display:block;
	padding:20px 30px 0;
	background-repeat:no-repeat;
	background-position:left top;
}
.featured-links .featured-link:nth-child(1){
	background-color:rgba(0,0,0,.1);
}
.featured-links .featured-link:nth-child(2){
	background-color:rgba(0,0,0,.2);
}
.featured-links .featured-link:nth-child(3){
	background-color:rgba(0,0,0,.3);
}
.featured-links .featured-link:hover{
	background-color:rgba(0,0,0,0);
}
.featured-link span{
	text-transform:uppercase;
	color:rgba(255,255,255,.6);
	display:block;
	font-size:12px;
}
.featured-link strong{
	font-size:30px;
	color:#fff;
	display:block;
	font-family: 'Playfair Display', serif;
}
.featured-texts{
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
}
.featured-text{
	border-right:1px solid #e6e6e6;
	text-align:center;
	padding:40px 20px;
}
.featured-texts .featured-text:last-child{
	border-right:0;
}
.featured-text span{
	text-transform:uppercase;
	color:rgba(0,0,0,.3);
	display:block;
	font-size:12px;
}
.featured-text strong{
	font-size:30px;
	color:#333;
	display:block;
	font-family: 'Playfair Display', serif;
}

.cause-thumb{
	position:relative;
	display:inline-block;
	float:left;
}
.cause-thumb img{
	width:100px;
	height:100px;
	border-radius:100%;
	float:left;
	margin-right:30px;
}
.content{
	padding:75px 0;
	min-height:400px;
}
.home .content{
	padding:0;
}
.featured-block{
	position:relative;
	margin:0 auto;
	display:block;
}
.fblock-text{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
	z-index:2;
}
.fblock-text-tb{
	display:table;
	height:100%;
	width:100%;
	vertical-align:middle;
}
.fblock-text-tbcell{
	display:table-cell;
	vertical-align:middle;
}
.fblock-text strong{
	margin-bottom:0;
	text-align:center;
	color:#fff;
	font-weight:700;
	font-size:24px;
	letter-spacing:0.5px;
	display:block;
	padding:0 30px;
}
.fblock-image-overlay{
	position:absolute;
	width:94%;
	height:88%;
	z-index:2;
	left:3%;
	top:6%;
  	opacity:.5;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
.featured-block:hover .fblock-image-overlay{
	width:100%;
	height:100%;
	left:0;
	top:0;
  	opacity:.7;
	-webkit-transition: width .3s .2s, height .3s .2s, left .3s .2s, top .3s .2s, opacity .3s .2s;
	-moz-transition: width .3s .2s, height .3s .2s, left .3s .2s, top .3s .2s, opacity .3s .2s;
	-ms-transition: width .3s .2s, height .3s .2s, left .3s .2s, top .3s .2s, opacity .3s .2s;
	-o-transition: width .3s .2s, height .3s .2s, left .3s .2s, top .3s .2s, opacity .3s .2s;
	transition: width .3s .2s, height .3s .2s, left .3s .2s, top .3s .2s, opacity .3s .2s;
}
.causes-list{
	list-style-type:none;
	margin:0;
}
.list-thumb{
	position:relative;
}
.causes-list-item{
	padding:0 0 35px;
	margin-bottom:35px;
	border-bottom:1px solid #E6E6E6;
}
.causes-list-item:last-child{
	padding-bottom:0;
	border-bottom:0;
}
.causes-list-item .cProgress{
	position:relative;
}
.causes-list-item .cause-progress{
	width:100px;
	height:100px;
	position:absolute;
	right:-35px;
	top:50%;
	margin-top:-30px;
	text-align:center;
}
.cause-list-item-cont{
	padding-left:20px;
}
.cause-list-item-cont .meta-data{
	font-size:14px;
}
.events-calendar-widget-head{
	padding:20px;
	text-align:center;
	background:#E6E6E6;
}
.events-calendar-widget-head a{
	border-radius:15px;
	line-height:25px;
	padding:0 14px;
	background:rgba(0,0,0,.2);
	color:#fff;
	text-transform:uppercase;
	display:inline-block;
	font-size:11px;
	font-weight:700;
}
.events-calendar-widget-head a:hover{
	background:rgba(0,0,0,.4);
	color:#fff;
}
.events-calendar-widget-head h3{
	color:#fff;
	margin-top:20px;
}
.events-calendar-widget-head .hang{
	background:#fff;
	border-radius:10px;
	width:40%;
	height:15px;
	box-shadow:inset 1px 1px 2px rgba(0,0,0,.5);
	margin:0 auto;
}
.events-compact-list{
	list-style-type:none;
	margin:0;
}
.widget .events-compact-list .meta-data{
	margin-top:0;
}
.event-list-item{
	padding:12px 0 20px;
	margin-bottom:12px;
	border-bottom:1px solid #E6E6E6;
}
.event-list-item:last-child{
	border-bottom:0;
	margin-bottom:0;
	padding-bottom:0;
}
.event-list-item h4{
	font-size:18px;
	font-weight:700;
	line-height:24px;
	margin-top:5px;
	text-transform:none;
	margin-bottom:10px;
	letter-spacing:0;
}
.events-compact-list h4, .events-compact-list p{
	padding-left:80px;
}
.event-list-item p{
	margin-bottom:0;
}
.events-compact-list .event-list-thumb{
	margin-bottom:10px;
	margin-top:5px;
}
.home .events-compact-list .event-list-cont{
	padding-right:20px;
}
.event-date{
	display:block;
	margin-bottom:5px;
	float:left;
	margin-right:20px;
	padding:8px;
	color:#fff;
	width:60px;
	text-align:center;
	font-family: 'Dosis', sans-serif;
}
.event-time{
	margin-top:5px;
}
.event-date .date{
	font-size:34px;
	line-height:34px;
	display:block;
	border-bottom:1px solid rgba(255,255,255,.5);
	padding-bottom:8px;
	margin-bottom:8px;
}
.event-date .day{
	font-size:14px;
	line-height:14px;
	display:block;
	position:relative;
}
.event-date .month, .event-date .year{
	text-transform:uppercase;
	display:block;
	line-height:16px;
}
.event-date .month{
	letter-spacing:1px;
}
.events-list{
	list-style-type:none;
	margin:0;
}
.events-list .event-time{
	margin-top:7px;
}
.events-list .event-list-item{
	padding: 0 0 34px;
	margin-bottom: 34px;
}
.events-list .event-list-item:last-child{
	margin-bottom:0;
}
.events-list .event-list-item p{
	margin-bottom:12px;
	margin-top:20px
}
.events-list .event-list-item .event-date{
	width:9%;
	margin-right:2%;
	float:left;
	text-align:center;
}
.events-list .event-list-item .date{
	display:block;
	float:none;
	line-height:44px;
	margin-right:0
}
.events-list .event-list-item .day{
	display:block;
	margin:0;
	top:0;
}
.events-list .event-list-item .month{
	font-size:12px;
}
.events-list .event-list-cont{
	width:89%;
	float:left;
}
#testimonials-slider .owl-wrapper-outer{
	width:100%!important;
}
#testimonials-slider .owl-pagination{
	margin-top:15px;
}
.testimonial-block blockquote{
	border:1px solid #E6E6E6;
	margin:0;
	padding:20px 20px 20px 65px;
	position:relative;
	margin-bottom:15px;
}
.testimonial-block blockquote p{
	font-family:"Lora",serif;
	font-style: normal;
	font-size:18px;
	line-height:28px;
}
.testimonial-block blockquote:before{
	position:absolute;
	text-align:center;
  	display: inline-block;
  	font-family: FontAwesome;
  	font-style: normal;
  	font-weight: normal;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-decoration:none;
	content:"\f10d";
	font-size:30px;
	left:20px;
	top:20px;
}
.testimonial-block blockquote:after{
	position:absolute;
	text-align:center;
	color:#E6E6E6;
  	display: inline-block;
  	font-family: FontAwesome;
  	font-style: normal;
  	font-weight: normal;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
  	text-decoration:none;
	content:"\f107";
	font-size:20px;
	left:25px;
	width:10px;
	text-indent:-1px;
	bottom:-15px;
	background:#fff
}
.testimonial-avatar img{
	border-radius:100%;
	float:left;
	margin-right:20px;
	border:1px solid #E6E6E6;
	padding:3px;
}
.testimonial-info{
	height:70px;
	display:table;
	vertical-align:middle;
}
.testimonial-info-in{
	height:70px;
	display:table-cell;
	vertical-align:middle;
}
.testimonial-info strong{
	display:block;
	font-weight:700;
	line-height:14px;
}
.testimonial-info span{
	text-transform:uppercase;
	font-weight:700;
	font-size:11px;
	line-height:14px;
}
.gallery-updates{
	position:relative;
	width:100%;
	margin:15px 0 15px 15px;
	padding:15px;
}
.gallery-updates > ul{
	margin:0;
	list-style-type:none;
	background:#000;
}
.gallery-updates > ul:before, .gallery-updates > ul:after{
	content:" ";
	display:table;
}
.gallery-updates > ul:after{
	clear:both;
}
.gallery-updates > ul > li{
	opacity:.7;
	height:100%;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
	background-color:#000;
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
}
.gallery-updates > ul > li > a{
	display:block;
	height:100%;
	width:100%;
}
.gallery-updates > ul > li:hover{
	opacity:.9;
}
.gallery-updates > ul > li .media-box .zoom{
	background:none;
}
.gallery-updates.cols5 > ul > li{
	width:20%;
	float:left;
}
.gallery-updates.cols4 ul > li{
	width:25%;
	float:left;
}
.gallery-updates.cols3 > ul > li{
	width:33.333%;
	float:left;
}
.gallery-updates.cols2 > ul > li{
	width:50%;
	float:left;
}
.gallery-updates-overlay{
	position:absolute;
	left:-168px;
	width:275px;
	top:50%;
	height:27px;
	line-height:25px;
	text-align:center;
	transform:rotate(-90deg);
	background:#fff;
	border-radius:19px;
	color:#333;
	font-size:11px;
	letter-spacing:2px;
	text-transform:uppercase;
}
.gallery-updates-overlay i{
	position:relative;
	top:1px;
}
.partner-carousel{
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	padding:10px 0;
	position:relative;
}
.partner-carousel .carousel-wrapper{
	min-height:0;
	margin-top:0
}
.partner-carousel .owl-wrapper-outer{
	margin-bottom:30px;
}
.cta-fw h4{
	color:#fff;
	margin-top:15px;
	margin-bottom:0;
}
.site-footer{
	background-color:#333;
	padding:70px 0;
}
.site-footer-bottom{
	background-color:#222;
	padding:20px 0;
	color:#999;
}
.site-footer-bottom p{
	margin-bottom:0;
	font-size:13px;
}
.footer-menu{
	float:right;
	font-size:13px;
	list-style-type:none;
	margin:0;
}
.footer-menu li{
	display:inline-block;
	margin-left:10px;
}
.footer-menu li:after{
	content:"/";
}
.footer-menu li:last-child:after{
	content:"";
}
.footer-menu li a{
	 color:#999;
	 margin-right:10px;
 }
.footer-menu li:last-child a{
	margin-right:0;
}
.site-footer .social-icons-rounded a:hover{
	color:#fff;
}
#back-to-top{
	position:fixed;
	right:-40px;
	bottom:15px;
	background:rgba(0,0,0,.8);
	width:40px;
	height:40px;
	text-align:center;
	color:#fff;
	line-height:43px;
	overflow:hidden;
	font-size:17px;
	display:block;
	z-index:1111;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
.cta{
	border:1px solid #E6E6E6;
	padding:25px;
	margin:40px 0;
	background:#F6F6F6;
}
.cta p{
	font-size:20px;
	line-height:35px;
	margin-bottom:0;
	text-transform:uppercase;
	font-weight: 700;
	letter-spacing: 0.5px;
}
.widget_donations{
	padding:30px;
	color:#fff;
}
.widget_donations h4{
	color:#fff;
	margin-bottom:40px;
}
.job-block{
	border-width: 1px 1px 2px;
	border-style: solid;
	border-color: #E6E6E6 #E6E6E6 #ddd;
	padding:20px;
	border-radius:3px;
	margin-bottom:20px;
}
.job-block:last-child{
	margin-bottom:0;
}
.job-block h4{
	margin-bottom:9px;
	line-height:20px;
}
.job-block p{
	margin-top:20px;
}
.job-block .btn{
	float:right;
	margin-top:4px;
}
#stories-slider{
	height:447px;
	overflow:hidden;
}
#stories-slider li.item{
	background:#f7f7f7;
}
#stories-slider li.item img.img-responsive{
	width:100%;
}
#stories-slider blockquote{
	margin:0 0 30px 0;
	display:block;
}
#stories-slider blockquote p{
	font-size:15px;
}
#stories-slider .story-slider-content{
	padding:40px;
	max-width:600px;
}
#stories-slider .story-slider-table{
	display:table;
	vertical-align:middle;
}
#stories-slider .story-slider-cell{
	display:table-cell;
	vertical-align:middle;
	height:337px;
}


.grid-item .social-icons-colored{
	margin:15px 0 15px;
}
.grid-item.grid-staff-item p:last-child{
	margin-bottom:0;
}
.grid-item.grid-staff-item h3{
	margin-bottom:5px;
}
.grid-item.grid-staff-item .meta-data{
	margin-bottom:20px;
	display:block;
}
.grid-staff-item-compact.grid-item{
	background:none;
}
.grid-staff-item-compact .grid-item-content{
	padding:12px 0 0;
	border:0;
}
.grid-staff-item-compact .grid-item-inner{
	border:0;
}
.grid-staff-item-compact .media-box{
}
.grid-staff-item-compact .grid-item-content h3{
	font-size:15px;
	font-weight:700;
	text-transform:none;
	margin-bottom:0;
}
.isotope-grid{
	margin:0;
	list-style-type:none;
}
.grid-holder{
	margin:0;
	list-style-type:none;
	width: 105%;
	margin-left: -3%;
	float: left;
}
.grid-holder .grid-item{
	float: left;
}
.grid-holder .grid-item{
	margin-bottom: 3%;
	border-bottom: medium none;
	margin-top:2px;
}
.grid-item{
	background:#fff;
}
.grid-item-inner{
	border:1px solid #E6E6E6;
}
.grid-item-inner .grid-item-content{
	padding:20px;
	position:relative;
	border-top:1px solid #E6E6E6;
}
.grid-item-content{
	padding:20px 0;
	position:relative;
}
.grid-item-meta{
	margin-bottom:17px;
	display:block;
}
.grid-item h3{
	font-size:16px;
	line-height:24px;
	letter-spacing:1px;
	margin-bottom:10px;
	text-transform:uppercase;
}
.cause-target{
	font-weight:700;
}
.owl-carousel .cause-grid-item{
	position:relative;
	top:0;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
.owl-carousel .cause-grid-item:hover{
	top:-20px;
	box-shadow:0 0 10px rgba(0,0,0,.1);
	-webkit-transition: top .3s .2s, box-shadow .3s .2s;
	-moz-transition: top .3s .2s, box-shadow .3s .2s;
	-ms-transition: top .3s .2s, box-shadow .3s .2s;
	-o-transition: top .3s .2s, box-shadow .3s .2s;
	transition: top .3s .2s, box-shadow .3s .2s;
}
.owl-carousel .grid-item-inner{
	border:0;
	position:relative;
}
.cause-grid-item .grid-item-content{
	border:0;
	text-align:center;
	position:relative;
	padding-top:50px;
	padding-bottom:30px;
	z-index:3;
	background:#fff;
}
.cause-grid-item .meta-data{
	margin-bottom:20px;
	margin-top:20px;
	font-size:14px;
}
.owl-carousel .cause-grid-item .meta-data{
	margin:20px 0 0;
	font-size:13px;
}
.owl-carousel .cause-grid-item .btn{
	position:absolute;
	bottom:0;
	z-index:2;
	width:150px;
	left:50%;
	margin-left:-75px;
	padding-left:10px;
	padding-right:10px;
	-webkit-transition:all 0.3s ease 0.2s;
	-moz-transition:all 0.3s ease 0.2s;
	-ms-transition:all 0.3s ease 0.2s;
	-o-transition:all 0.3s ease 0.2s;
	transition:all 0.3s ease 0.1s;
}
.owl-carousel .cause-grid-item:hover .btn{
	bottom:-40px;
	-webkit-transition: bottom .3s .2s;
	-moz-transition: bottom .3s .2s;
	-ms-transition: bottom .3s .2s;
	-o-transition: bottom .3s .2s;
	transition: bottom .3s .2s;
}
.cause-grid-item .cProgress{
	position:absolute;
	top:-30px;
	left:50%;
	margin-left:-30px;
	z-index:11;
	width:60px;
	background:#fff;
	border-radius:100%;
	cursor:default;
	color:#666;
}
.cause-grid-item .cProgress strong{
	line-height:60px;
	font-size:16px;
}

.cause-grid-item, .event-grid-item{
	margin-bottom:30px;
}
.event-grid-item .list-group{
	margin-bottom:5px;
	margin-top:25px
}
.event-grid-item h3{
	min-height:65px;
	margin-top:10px;
}
.grid-item-content:before, .grid-item-content:after, .widget-latest-gallery .gallery-items:before, .widget-latest-gallery .gallery-items:after, .event-list-item:before, .event-list-item:after, .event-list-item .event-date:before, .event-list-item .event-date:after{
	content:" ";
	display:table;
}
.grid-item-content:after, .widget-latest-gallery .gallery-items:after, .event-list-item:after, .event-list-item .event-date:after{
	clear:both;
}
.gallery-items-nocaption .gallery-grid-item{
	margin-bottom:30px;
}
.gallery-grid-item .grid-item-content{
	text-align:center;
}
.owl-carousel .grid-item-blog{
	border:1px solid #E6E6E6;
}

.owl-carousel .blog-grid-item h3{
	font-size:18px;
	font-weight:700;
	line-height:24px;
	margin-top:5px;
	text-transform:none;
	margin-bottom:10px;
	letter-spacing:0;
}
#message{
	margin-top:20px;
}
.content-block{
	padding-top:10px;
	overflow-x:hidden
}
.single-event .content-block, .single-cause .content-block, .single-post .content-block{
	padding-top:0;
}
.post-media{
	margin-bottom:30px;
}
.post-content{
	margin-bottom:40px;
}
.about-author{
	background:#f6f6f6;
	padding:20px;
	margin-top:35px;
	border-top:3px solid #e6e6e6;
}
.about-author .img-thumbnail{
	float:left;
	margin-right:20px;
	width:100px;
	max-width:100px;
	border:1px solid #fff;
	border-radius:100%;
}
.about-author .post-author-content{
	padding-left:120px;
}
.post-comments{
	margin:55px 0 0 0;
}
.comments{
	margin:0;
	list-style-type:none;
	padding-top:25px;
}
.comments li{
	margin-bottom:35px;
	border-bottom:1px solid #eee;
}
.comments li .post-comment-block{
	padding-bottom:15px;
}
.comments li.admin > .post-comment-block{
	background-color:#f9f9f9;
}
.comments li .img-thumbnail{
	float:left;
	margin-right:20px;
	width:80px;
	border:1px solid #fff;
	border-radius:100%;
	box-shadow:0 0 1px rgba(0,0,0,.2);
}
.comments li .meta-data{
	margin-bottom:12px;
}
.comments li h5{
	margin-bottom:5px;
	font-weight:700;
	font-size:16px;
}
.comments li h5 span{
	color:#999;
	font-weight:400;
	font-family:"Lora", serif;
}
.post-comment-content{
	padding-left:100px;
}
.comments li ul{
	padding-top:25px;
	padding-left:50px;
	margin:0;
	list-style-type:none;
	border-top:1px solid #eee;
}
.comments li ul > li:last-child{
	margin-bottom:0;
	border-bottom:0;
}
.post-comment-form{
	margin:35px 0 0 0;
	border-bottom:0;
}
.post-comment-form .form-control{
	margin-bottom:5px;
	margin-top:15px;
}
.post-comment-form .btn{
	margin-top:15px;
}
.fc-toolbar h2{
	line-height:30px;
	font-size:20px;
}
.single-event .content-block .list-group{
	margin-top:0;
}
.btn-event-single-book{
	margin-top:17px;
}
.blog-list-item{
	padding-bottom:24px;
	margin-bottom:24px;
	border-bottom:1px solid #e6e6e6;
}
.blog-list-item .img-thumbnail{
	margin-top:5px;
}
.blog-list-item h4{
	margin-bottom:10px;
	font-weight:700;
	font-size:18px;
}
.owl-carousel .blog-grid-item .grid-item-content{
	position:absolute;
	z-index:2;
	bottom:0;
	height:auto!important;
	border-top:0;
}
.owl-carousel .blog-grid-item h3 a{
	color:#fff;
}
.owl-carousel .blog-grid-item .media-box img{
	opacity:.5
}
.owl-carousel .blog-grid-item .media-box{
	background:#000;
}
.blog-grid-item p{
	margin-bottom:0;
	margin-top:22px;
}
#news-slider .owl-wrapper-outer{
	padding-top:10px;
}
.blog-grid-item .meta-data{
	margin:20px 0 10px; 
}
.owl-carousel .blog-grid-item .meta-data{
	margin:10px 0 0; 
	color:#eee;
	opacity:.8
}
.blog-grid-item .tag-cloud{
	margin-top:22px;
}
#DonateModal .modal-body{
	background:#f6f6f6;
	padding-left:40px;
	padding-right:40px;
}
#DonateModal .modal-footer{
	padding-left:70px;
	padding-right:70px;
}
.donation-form-infocol:first-child label{
	line-height:30px;
}
#DonateModal .modal-dialog{
	width:800px;
}
#DonateModal .modal-header{
	position:relative;
}
#DonateModal .modal-header h4{
	margin-bottom:20px;
}
#DonateModal .modal-header .form-control{
	margin-bottom:0;
}
.donate-amount-option{
	text-align:center;
	padding-top:20px;
	padding-bottom:5px;
}
.donate-amount-option .input-group{
	width:70%;
	margin-left:15%;
}
.donation-choice-breaker{
	position:absolute;
	width:24px;
	height:24px;
	line-height:24px;
	color:#fff;
	border-radius:100%;
	left:50%;
	top:50%;
	margin:-12px 0 0 -6px;
	text-transform:uppercase;
	font-weight:700;
	text-align:center;
	font-size:11px;
	background:#ccc;
}
.predefined-amount{
	list-style-type:none;
	margin:0;
}
.predefined-amount li{
	display:inline-block;
	margin-right:5px;
}
.predefined-amount li label{
	cursor:pointer;
	border:2px solid #e6e6e6;
	padding:6px 10px;
	border-radius:3px;
}
.predefined-amount li label.selected{
	color:#fff;
}
.predefined-amount li input{
	display:none;
}
.donation-form-infocol:first-child{
	border-right:1px solid #e6e6e6;
}

/* ==================================================
   6.2. Widgets Styling
================================================== */
.widgettitle{
	position:relative;
}
.sidebar-block .widget{
	margin-bottom:40px;
}
.widgettitle{
	margin-bottom:50px;
}
.sidebar-block .widget:last-child{
	margin-bottom:0;
}
.widget li.list-group-item{
	margin-bottom:0;
	border-bottom:0;
}
.widget_categories:before, .widget_categories:after, .widget_archive:before, .widget_archive:after{
	content:" ";
	display:table;
}
.widget_categories:after, .widget_archive:after{
	clear:both;
}
.widget_categories ul, .widget_archive ul, .widget_recent_entries ul, .widget_recent_comments ul, .widget_links ul, .widget_meta ul, .widget_recent_causes ul{
	list-style-type:none;
	margin:0;
}
.widget_categories ul li, .widget_archive ul li, .widget_recent_entries ul li, .widget_recent_comments ul li, .widget_links ul li, .widget_meta ul li, .widget_upcoming_events li, .widget_recent_causes li, .twitter-widget ul li{
	border-bottom:1px solid #F6F6F6;
	padding-bottom:10px;
	margin-bottom:10px;
}
.widget_categories ul li i, .widget_archive ul li i, .widget_recent_entries ul li i, .widget_recent_comments ul li i, .widget_links ul li i, .widget_meta ul li i, .widget_upcoming_events li i{
	font-size:11px;
	color:#999
}
.footer_widget.widget_categories ul li, .footer_widget.widget_archive ul li, .footer_widget.widget_recent_entries ul li, .footer_widget.widget_recent_comments ul li, .footer_widget.widget_links ul li, .footer_widget.widget_meta ul li, .footer_widget .twitter-widget ul li{
	border-bottom:1px solid rgba(255,255,255,.05);
}
.widget_categories ul li a, .widget_archive ul li a, .widget_recent_entries ul li a, .widget_recent_entries ul li a, .widget_recent_comments ul li a, .widget_links ul li a, .widget_meta ul li a{
	display:inline-block;
	position:relative;
	color:#5e5e5e;
}
.widget_recent_posts li:before, .widget_recent_posts li:after, .widget_recent_causes li:before, .widget_recent_causes li:after{
  display: table;
  content: " ";
}
.widget_recent_posts li:after, .widget_recent_causes li:after{
	clear:both;
}
.widget_links ul li.active a{
	font-weight:700;
}
.widget .meta-data{
	margin-top:5px;
	line-height:20px;
}
.tag-cloud a{
	display:inline-block;
	margin-right:4px;
	margin-bottom:10px;
	padding:4px 11px;
	border-radius:3px;
	background:#666;
	text-decoration:none;
	font-size:13px;
	color:#fff;
}
.tag-cloud a:hover{
	text-decoration:none;
	color:#fff;
}
.twitter-widget li:nth-child(odd){
	display:none;
}
.twitter-widget ul{
	margin:0;
	list-style-type:none;
}
.twitter-widget .tweet-date{
	font-weight:700;
}
.widget-latest-gallery .gallery-items{
	width:103%;
	margin-left:-3%;
}
.widget-latest-gallery .gallery-items > li{
	float:left;
	margin-left:3%;
	margin-bottom:20px;
}
.widget-latest-gallery.columns2 .gallery-items > li{
	width:47%;
}
.widget-latest-gallery.columns3 .gallery-items > li{
	width:30%;
}
.widget-latest-gallery.columns4 .gallery-items > li{
	width:22%;
}
.footer_widget h4.widgettitle{
	text-transform:uppercase;
	border-bottom:0;
	color:#fff;
	font-weight:700;
	font-size:14px;
	margin-bottom:26px;
	letter-spacing:1px;
	font-family:"Lato",sans-serif;
}
.footer_widget h4.widgettitle:before, .footer_widget h4.widgettitle:after{
	display:none;
}
.footer_widget, .site-footer .footer_widget a{
	color:#999;
}
.widget.recent_posts ul{
	list-style-type:none;
	margin:0;
}
.widget.recent_posts ul li{
	padding:0;
	margin-bottom:12px;
	padding-bottom:18px;
	border-bottom:1px solid #eee;
}
.widget.recent_posts ul li:last-child{
	border-bottom:0;
	margin-bottom:0;
}
.widget.recent_posts ul li .media-box{
	float:left;
	margin-top:5px;
}
.widget.recent_posts ul li .media-box img{
	width:70px;
}
.widget.recent_posts ul li h5{
	padding-left:90px;
	margin-bottom: 5px;
	font-weight:400;
	font-size:15px;
}
.widget.recent_posts ul li h5 a{
	color:#5e5e5e;
}
.widget.recent_posts ul li .meta-data.grid-item-meta{
	padding-left:90px;
	margin-bottom:0;
}
.widget_recent_causes .cause-thumb img{
	margin-right:20px;
	width:60px;
	height:60px;
}
.megamenu-container .widget_recent_causes li h4{
	font-size:15px;
	font-weight:400;
}
.widget_recent_causes li{
	padding-bottom:12px;
}
.widget_recent_causes li .meta-data{
	padding-left:80px;
}
.widget_recent_causes h4{
	margin-bottom:10px;
}
.widget_recent_causes .cProgress{
	width:60px;
	position:absolute;
	left:0;
	background:none;
}
.widget_recent_causes .cause-thumb .cProgress strong{
	line-height:60px;
	font-size:20px;
	color:#fff;
}

/* ==================================================
   6.4. SHORTCODES
================================================== */
.fact-ico{
	float:left;
	margin:0 20px 0 0;
}
.fact{
	margin-top:10px;
	display:block;
	color:#666;
	font-size:18px;
}
.counters .timer{
	display:-block;
	color:#333;
	font-weight:700;
	font-size:38px;
	margin-top:5px;
}
.parallax-light .fact-ico, .parallax-light .timer, .parallax-light h1, .parallax-light h2, .parallax-light h3{
	color:#fff;
}
.parallax-light .fact, .parallax-light p{
	color:rgba(255,255,255,.6);
}
.parallax-text-block{
	padding:40px;
	background:#fff;
	width:360px;
	box-shadow:0 0 10px rgba(0,0,0,.2);
}
.icon-box{
	margin-bottom:30px;
}
.icon-box.ibox-plain.ibox-small{
	padding-left:26px
}
.icon-box .ibox-icon{
	display:block;
	position:absolute;
	width:64px;
	height:64px;
	top:0;
	left:0
}
.icon-box .ibox-icon a,.icon-box .ibox-icon i,.icon-box .ibox-icon img{
	display:block;
	position:relative;
	width:100%;
	height:100%;
	color:#fff
}
.icon-box .ibox-icon i,.icon-box .ibox-icon img{
	border-radius:50%;
}
.icon-box .ibox-icon i{
	font-style:normal;
	font-size:28px;
	text-align:center;
	line-height:64px
}
.icon-box .before-heading{
	font-size:14px
}
.icon-box.ibox-large{
	padding:0 0 0 115px
}
.icon-box.ibox-large .ibox-icon {
	width:96px;
	height:96px;
}
.icon-box.ibox-outline .ibox-icon {
	border:1px solid;
	border-radius:50%;
	padding:3px;
}
.icon-box.ibox-outline .ibox-icon i {
	line-height:56px;
}
.icon-box.ibox-outline.ibox-large .ibox-icon {
	padding:4px;
}
.icon-box.ibox-rounded .ibox-icon,.icon-box.ibox-rounded .ibox-icon i,.icon-box.ibox-rounded .ibox-icon img {
	border-radius:3px!important;
}
.icon-box.ibox-rounded.ibox-large .ibox-icon,.icon-box.ibox-rounded.ibox-large .ibox-icon i,.icon-box.ibox-rounded.ibox-large .ibox-icon img {
	border-radius:4px!important;
}
.icon-box.ibox-light .ibox-icon i,.icon-box.ibox-light .ibox-icon img {
	border:1px solid #eee;
	background-color:#f9f9f9;
	color:#444;
}
.icon-box.ibox-light .ibox-icon i {
	line-height:62px;
}
.icon-box.ibox-light.ibox-large .ibox-icon i {
	line-height:96px;
}
.icon-box.ibox-light.ibox-outline.ibox-large .ibox-icon i {
	line-height:84px;
}
.icon-box.ibox-dark.ibox-outline .ibox-icon {
	border-color:#444;
}
.icon-box.ibox-dark .ibox-icon i,.icon-box.ibox-dark .ibox-icon img {
	background-color:#505050;
}
.icon-box.ibox-border .ibox-icon {
	border:1px solid;
	border-radius:50%;
	padding:0;
}
.icon-box.ibox-border .ibox-icon i,.icon-box.ibox-border .ibox-icon img {
	border:none;
	background-color:transparent!important;
}
.icon-box.ibox-border.ibox-dark .ibox-icon {
	border-color:#505050;
}
.icon-box.ibox-plain .ibox-icon {
	border:none!important;
	height:auto!important;
}
.icon-box.ibox-plain .ibox-icon i,.icon-box.ibox-plain .ibox-icon img {
	border:none!important;
	background-color:transparent!important;
	border-radius:0;
}
.icon-box.ibox-plain .ibox-icon i {
	font-size:48px;
	line-height:1!important;
}
.icon-box.ibox-plain.ibox-image .ibox-icon {
	width:auto;
}
.icon-box.ibox-plain.ibox-image .ibox-icon img {
	width:auto;
	display:inline-block;
}
.icon-box.ibox-plain.ibox-small {
	padding-left:42px;
}
.icon-box.ibox-plain.ibox-small .ibox-icon {
	width:28px;
}
.icon-box.ibox-plain.ibox-small h3 {
	font-size:15px;
	line-height:26px;
	margin-bottom:10px;
}
.icon-box.ibox-plain.ibox-small p {
	margin-left:-42px;
}
.icon-box.ibox-plain.ibox-small .ibox-icon i {
	font-size:28px;
}
.icon-box.ibox-plain.ibox-small .ibox-icon img {
	height:28px;
}
.icon-box.ibox-plain.ibox-large .ibox-icon i {
	font-size:72px;
}
.icon-box.ibox-center {
	text-align:center;
	padding:0;
}
.icon-box.ibox-center .ibox-icon {
	position:relative;
	width:96px;
	height:96px;
	margin:0 auto 30px;
}
.icon-box.ibox-center.ibox-outline .ibox-icon i {
	line-height:88px;
}
.icon-box.ibox-center p {
	margin-top:15px;
}
.icon-box.ibox-center.ibox-large .ibox-icon {
	width:128px;
	height:128px;
}
.icon-box.ibox-center.ibox-large .ibox-icon i {
	font-size:70px;
	line-height:128px;
}
.icon-box.ibox-center.ibox-large.ibox-outline .ibox-icon i {
	line-height:118px;
}
.icon-box.ibox-center.ibox-light .ibox-icon i {
	line-height:94px;
}
.icon-box.ibox-center.ibox-light.ibox-outline.ibox-large .ibox-icon i {
	line-height:114px;
}
.icon-box.ibox-center.ibox-large.ibox-border .ibox-icon i {
	line-height:126px!important;
}
.icon-box.ibox-center.ibox-plain .ibox-icon i {
	font-size:84px;
}
.icon-box.ibox-center.ibox-large.ibox-plain .ibox-icon i {
	font-size:112px;
}
.icon-box.ibox-center.ibox-large.ibox-plain .ibox-icon img {
	height:128px;
}
.icon-box.ibox-center.ibox-small .ibox-icon {
	width:64px;
	height:64px;
}
.icon-box.ibox-center.ibox-small .ibox-icon i {
	font-size:28px;
	line-height:64px;
}
.icon-box.ibox-center.ibox-small.ibox-outline .ibox-icon i {
	line-height:58px;
}
.icon-box.ibox-center.ibox-small.ibox-plain .ibox-icon i {
	font-size:56px;
}
.icon-box.ibox-center.ibox-small p {
	font-size:14px;
	margin-top:10px;
}
.icon-box.ibox-center.ibox-plain.ibox-small p {
	margin-left:0;
}
.icon-box.ibox-right {
	text-align:right;
	padding:0 80px 0 0;
}
.icon-box.ibox-right.ibox-large {
	padding-right:115px;
}
.icon-box.ibox-right .ibox-icon {
	left:auto;
	right:0;
}
.icon-box.ibox-right.ibox-plain.ibox-small {
	padding:0 42px 0 0;
}
.icon-box.ibox-right.ibox-plain.ibox-small p {
	margin:0 -42px 0 0;
}
.icon-box h3+.ibox-icon {
	margin-top:20px!important;
}
.icon-box h3 span.subtitle {
	display:block;
	margin-top:5px;
	color:#444;
	text-transform:none;
}
.icon-box.ibox-center:not(.ibox-bg) h3:after {
	content:'';
	display:block;
	width:30px;
	border-top:2px solid #505050;
	-webkit-transition:width .3s ease;
	-o-transition:width .3s ease;
	transition:width .3s ease;
	margin:20px auto;
}
.icon-box.ibox-center:not(.ibox-bg):hover h3:after {
	width:50px;
}
.icon-box.ibox-center.noborder:not(.ibox-bg) h3:after,.icon-box.ibox-center.nobottomborder:not(.ibox-bg) h3:after {
	display:none;
}
.icon-box.ibox-center.ibox-italic p {
	font-style:italic;
}
.icon-box.ibox-bg.ibox-center {
	margin-top:68px;
	background-color:#fff;
	border:1px solid #eee;
	border-radius:5px;
	padding:68px 30px 30px;
}
.icon-box.ibox-bg.ibox-center:first-child {
	margin-top:48px;
}
.icon-box.ibox-bg.ibox-center.ibox-large {
	margin-top:84px;
	padding-top:84px;
}
.icon-box.ibox-bg.ibox-center.ibox-large:first-child {
	margin-top:64px;
}
.icon-box.ibox-bg.ibox-center .ibox-icon {
	position:absolute;
	top:-48px;
	left:50%;
	margin:0 0 0 -48px;
}
.icon-box.ibox-bg.ibox-center.ibox-large .ibox-icon {
	top:-64px;
	left:50%;
	margin-left:-64px;
}
.icon-box.ibox-bg.ibox-center.ibox-border .ibox-icon,.icon-box.ibox-bg.ibox-center.ibox-outline .ibox-icon,.icon-box.ibox-bg.ibox-center.ibox-plain .ibox-icon {
	background-color:#FFF;
}
.icon-box .ibox-icon i {
	z-index:1;
	-webkit-transition:background-color .3s,color .3s;
	-o-transition:background-color .3s,color .3s;
	transition:background-color .3s,color .3s;
}
.icon-box .ibox-icon i:after {
	pointer-events:none;
	position:absolute;
	width:100%;
	height:100%;
	border-radius:50%;
	content:'';
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	top:-3px;
	left:-3px;
	box-shadow:0 0 0 2px #505050;
	-webkit-transition:0 .3s,opacity .3s;
	-webkit-transform:scale(.8);
	-moz-transition:0 .3s,opacity .3s;
	-moz-transform:scale(.8);
	-ms-transform:scale(.8);
	transition:transform .3s,opacity .3s;
	transform:scale(.8);
	opacity:0;
	padding:3px;
}
.icon-box .ibox-icon i:hover,.icon-box:hover .ibox-icon i {
	background-color:#505050;
	color:#fff;
}
.icon-box.ibox-outline:hover .ibox-icon{
	border-color:#505050;
}
.icon-box {
	position:relative;
	margin-top:20px;
	padding:0 0 0 80px;
}
.icon-box:first-child {
	margin-top:0;
}
.icon-box .ibox-icon {
	display:block;
	position:absolute;
	width:64px;
	height:64px;
	top:0;
	left:0;
}
.icon-box .ibox-icon a,.icon-box .ibox-icon i,.icon-box .ibox-icon img {
	display:block;
	position:relative;
	width:100%;
	height:100%;
	color:#fff;
}
.icon-box .ibox-icon i,.icon-box .ibox-icon img {
	border-radius:50%;
}
.icon-box .ibox-icon i {
	font-style:normal;
	font-size:28px;
	text-align:center;
	line-height:64px;
}
.icon-box h3 {
	font-size:21px;
	margin-bottom:0;
}
.icon-box p {
	margin:8px 0 0;
}
.icon-box .before-heading {
	font-size:14px;
}
.icon-box.ibox-large {
	padding:0 0 0 115px;
}
.icon-box.ibox-large .ibox-icon i,.icon-box.ibox-center .ibox-icon i {
	font-size:42px;
	line-height:96px;
}
.icon-box.ibox-outline.ibox-large .ibox-icon i,.icon-box.ibox-center.ibox-light.ibox-outline .ibox-icon i {
	line-height:86px;
}
.icon-box.ibox-light.ibox-outline .ibox-icon,.icon-box.ibox-border.ibox-light .ibox-icon {
	border-color:#eee;
}
.icon-box.ibox-light.ibox-outline .ibox-icon i,.icon-box.ibox-center.ibox-light.ibox-outline.ibox-small .ibox-icon i {
	line-height:54px;
}
.icon-box.ibox-border .ibox-icon i,.icon-box.ibox-center.ibox-small.ibox-border .ibox-icon i {
	line-height:62px!important;
}
.icon-box.ibox-border.ibox-large .ibox-icon i,.icon-box.ibox-center.ibox-border .ibox-icon i {
	line-height:94px!important;
}
.icon-box.ibox-border.ibox-light .ibox-icon i,.icon-box.ibox-border.ibox-light .ibox-icon img,.icon-box.ibox-plain.ibox-light .ibox-icon i,.icon-box.ibox-plain.ibox-light .ibox-icon img {
	color:#888;
}
.icon-box.ibox-border.ibox-dark .ibox-icon i,.icon-box.ibox-border.ibox-dark .ibox-icon img,.icon-box.ibox-plain.ibox-dark .ibox-icon i,.icon-box.ibox-plain.ibox-dark .ibox-icon img {
	color:#444;
}
.icon-box.ibox-plain .ibox-icon img,.icon-box.ibox-center.ibox-small.ibox-plain .ibox-icon img {
	height:64px;
}
.icon-box.ibox-plain.ibox-large .ibox-icon img,.icon-box.ibox-center.ibox-plain .ibox-icon img {
	height:96px;
}
.ibox-rounded .ibox-icon i:after,.ibox-border.ibox-rounded .ibox-icon i:after {
	border-radius:3px;
}
.icon-box.ibox-white .ibox-icon{
	border-color:#fff!important;
}
.icon-box.ibox-white .ibox-icon i{
	color:#fff!important;
}
.icon-box.ibox-white h3{
	color:#fff;
}
.icon-box.ibox-white p{
	color:#fff;
	opacity:.7;
}


/* ==================================================
   6.5. Overriding Classes
================================================== */
.parallax{
	background-attachment: fixed!important;
	background-position:center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	background-repeat:no-repeat;
	background-color:#333;
	position:relative;
}
.touch .parallax, .page-banner.parallax{
	background-attachment:scroll!important;
}

/*-------------------------------------------------------------------------------------------*/
/* Pricing Tables
/*-------------------------------------------------------------------------------------------*/
.pricing-table {
	margin-top: 50px;	
	margin-bottom: 50px;
}
.pricing-table:after { 
	display: block; 
	visibility: hidden; 
	clear: both; 
	height: 0;
	content: "";
}
.pricing-table > div:first-child .pricing-column-content, .pricing-table > div:first-child h3 {
	border-left: 1px solid #eee!important;
}
.pricing-column {
	float: left;
	overflow: hidden;
	padding: 0px;
	background-color: #fff;
	text-align: center;
	-webkit-transition: box-shadow 0.2s linear;
	-moz-transition: box-shadow 0.2s linear;
	-o-transition: box-shadow 0.2s linear;
	transition: box-shadow 0.2s linear;
}
.pricing-column .features{
	padding:0;
	margin-bottom:0;
	background:none;
}
.pricing-column .features a{
	color:#5e5e5e;
}
.pricing-column .pricing-column-content {
	padding: 0px 0px 20px 0px;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.pricing-column.highlight {
	z-index: 1;
	margin: -20px 0 0 -1px;
	background-color: #ffffff;
}
.pricing-column.highlight .pricing-column-content, .pricing-column.highlight h3  {
	border: none;
}
.pricing-column.highlight h3 .highlight-reason {
	display: block;
    color: rgba(0,0,0,0.4);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 12px;
}
.pricing-column.highlight .pricing-column-content {
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
}
.pricing-table .popover{
	text-align:center;
}
.pricing-column ul li {
	padding: 10px 25px;
	border-bottom: 1px solid #eee;
	color: #666666!important;
	list-style: none;
	line-height: 18px;
}
.pricing-column ul li a{
	margin-left:10px;
}
.pricing-column ul li:first-child {
	border-top: 1px solid #eee;
}
.pricing-column ul li:nth-child(2n+1) {
	background-color: #F9F8F5;
}
.pricing-column.highlight h3 {
	margin-bottom: 0px!important;
	padding: 15px 0px;
	color: #ffffff!important;
}
.toggle .pricing-column h3 {
	font-size: 26px!important;
}
.pricing-column h3 {
	margin-bottom: 0px;
	padding: 18px 0px 18px 0px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-color: #ffffff;
	font-size: 26px;
	line-height: 28px;
}
.pricing-column h4 {
	margin-bottom: 0px;
	margin-left: -22px;
	padding: 20px 30px 6px 30px;	
	color: #333333;
	font-size: 54px!important;
	line-height: 42px!important;
}
.pricing-column h4 .dollar-sign {
	position: relative;
	top: -14px;
	right: -6px;
	font-size: 22px;
	line-height: 22px;
}
.pricing-column .interval {
	display: block;
	padding-bottom: 17px;
	min-height: 38px;
	color: #999999;
}
.pricing-column ul {
	margin-left: 0px;
}
.pricing-column .btn{
	margin-top:25px;
}
.pricing-column.highlight .btn{
	margin-bottom:20px;
}
.pricing-table.six-cols > div {
	width: 16.5%;
}
.pricing-table.five-cols > div {
	width: 20%;
}
.pricing-table.four-cols > div {
	width: 25%;
}
.pricing-table.three-cols > div {
	width: 33.2%;
}
.pricing-table.two-cols > div {
	width: 50%;
}
.cProgress {
    width: 60px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
	background:#fff;
	border-radius:100%;
	cursor:default;
	color:#666;
}
.cProgress canvas {
    vertical-align: top;
}
.cProgress strong {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
}
.cProgress strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}
.cProgress span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}


/* ==================================================
    VERSION 1.1 ADDITIONS START
================================================== */

.accent-bg .header-info-col i{
	color:#fff;
}
.notice-bar{
	background:#F7F7F7;
	padding:30px 0;
	border-bottom:1px solid #eee;
}
.notice-bar.dark{
	background:#333;
}
.counter{
	text-align:right;
	margin-top:15px;
}
.counter .timer-col{
	display:inline-block;
	font-family: 'Dosis', sans-serif;
	font-size:24px;
	letter-spacing:1px;
	width:60px;
	height:80px;
	text-align:center;
	color:#fff;
	margin:0 10px;
	background:#4C6575;
}
.timer-col #days, .timer-col #hours, .timer-col #minutes, .timer-col #seconds{
	line-height:40px;
}
.timer-col .timer-type{
	font-size:12px;
	display:block;
	margin-top:2px;
	text-transform:uppercase;
	opacity:.7;
	line-height:40px;
	border-top:1px solid rgba(255,255,255,.5);
}
.upcoming-event .meta-data{
	line-height:24px;
}
.causes-compact-listing h4.post-title{
	font-size:18px;
	font-weight:700;
	line-height:24px;
	margin-top:5px;
	text-transform:none;
	margin-bottom:10px;
	letter-spacing:0;
}
.parallax .testimonial-block{
	width:65%;
	margin:0 auto;
}
.parallax-light blockquote p, .parallax-light .testimonial-info{
	color:#fff;
}
.parallax .testimonial-block blockquote{
	border:0;
}
.parallax .testimonial-block blockquote p{
	font-size:28px;
	line-height:38px;
}
.parallax .testimonial-block blockquote:after{
	display:none;
}
.parallax .testimonial-avatar, .parallax .testimonial-info{
	width:100%;
	display:block;
	text-align:center;
}
.parallax .testimonial-info{
	margin-top:15px;
}
.parallax .testimonial-info-in, .parallax .testimonial-info{
	display:block;
	height:auto;
}
.parallax .testimonial-avatar img{
	float:none;
	margin-right:0;
}

/* ==================================================
    VERSION 1.1 ADDITIONS END
================================================== */


/* ==================================================
   7. Responsive Media Queries
================================================== */
@media (min-width:1200px){
}
@media (min-width: 992px) and (max-width: 1199px) {
	.site-header .header-info-col{
		display:none;
	}
}
@media only screen and (max-width: 992px) {
	.pricing-column .features{
		margin-bottom:0;
	}
	.pricing-column.highlight {
		margin: 0;
  	}
	.pricing-table > div:third-child .pricing-column-content, .pricing-table > div:nth-child(2n+1) h3 {
		border-left: 1px solid #eeeeee!important;
	}
  	.pricing-column ul li:first-child {
	  	border-top: 1px solid #eeeeee;
  	}
  	.pricing-column ul li:nth-child(2n+1) {
	  	background-color: #f8f8f8;
  	}
  	.toggle .pricing-column h3 {
	  	font-size: 26px!important;
  	}
  	.pricing-column.highlight .btn{
	  	margin-bottom:0;
  	}
	.pricing-table.six-cols > div {
		width: 50%;
	}
	.pricing-table.five-cols > div {
		width: 50%;
	}
	.pricing-table.four-cols > div {
		width: 50%;
	}
	.pricing-table.three-cols > div {
		width: 50%;
	}
	.pricing-table.two-cols > div {
		width: 50%;
	}
	.hero-slider, .hero-slider.flexslider ul.slides li, .flex-caption-cell{
		height:500px;
	}
	.header-style2 .hero-slider, .header-style3 .hero-slider, .header-style2 .hero-slider.flexslider ul.slides li, .header-style3 .hero-slider.flexslider ul.slides li, .header-style2 .flex-caption-cell, .header-style3 .flex-caption-cell{
		height:450px;
	}
	.carousel-wrapper{
		width:100%;
	}
	.footer_widget .social-icons li, .footer_widget .social-icons-colored li{
		margin-bottom:10px;
	}
	.site-header .container{
		position:static;
	}
	#menu-toggle{
		display:block;
	}
	.dd-menu{
		position:absolute;
		top:73px;
		left:0;
		float:none!important;
		border-left:0;
		background:#fff;
		display:none;
		width:100%;
		z-index:1111;
	}
	.header-style2 .dd-menu, .header-style3 .dd-menu{
		border-top:1px solid #e6e6e6
	}
	.header-style3 .fw-menu-wrapper > .container{
		position:static;
	}
	.header-style3 .dd-menu{
		top:113px;
		text-align:left;
	}
	.header-style3 .dd-menu > li{
		margin:0;
	}
	.dd-menu > li{
		display:block;
		float:none;
		width:100%;
		margin-top:0;
		margin-left:0;
	}
	.dd-menu > li > a{
		border-right:0;
		font-size:15px;
		color:#333;
		padding-left:25px;
		border-bottom:1px solid #e6e6e6
	}
	.menu-opened{
		position:relative!important;
	}
	.dd-menu > li ul, .dd-menu > li > ul li ul{
		box-shadow:none;
		border:0;
		position:relative;
		top:0;
		left:0!important;
		padding-left:25px;
	}
	.dd-menu > li.megamenu{
		position:static!important;
	}
	.dd-menu > li > ul > li > a{
		font-weight:700;
	}
	.dd-menu > li > ul > li > a, .dd-menu > li > ul > li > ul > li > a, .dd-menu > li > ul > li > ul > ul > li > a{
		padding-left:15px;
	}
	.megamenu-col{
		margin-bottom:30px;
	}
	.flex-caption-cause{
		margin-top:0px;
	}
	.widget_donations h4{
		font-size:28px;
	}
	.fact-ico{
		float:none;
		text-align:center;
		margin-bottom:20px;
		margin-right:0;
	}
	.counters .timer, .counters .fact{
		text-align:center;
	}
	.widget-title .basic-link{
		display:none;
	}
	.widgettitle, .sidebar-block .widget-title h3{
		font-size:24px;
	}
	.sidebar-block{
		margin-top:50px;
	}
	body.boxed .body{
		margin-top:0;
	}
	.cta-fw h4{
		margin-top:0;
	}
	#stories-slider{
		height:auto;
	}
	.half-bg-right{
		display:none;
	}
	.gallery-updates{
		margin:70px 0 0;
		padding-top:30px;
	}
	.gallery-updates-overlay{
		top:-15px;
		transform:none;
		left:50%;
		margin-left:-136px;
	}
	.gallery-updates.cols5 > ul > li, .gallery-updates.cols4 ul > li, .gallery-updates.cols3 > ul > li, .gallery-updates.cols2 > ul > li{
		width:33.333333%;
	}
	#stories-slider .story-slider-content{
		max-width:none;
	}
	#stories-slider .story-slider-cell{
		height:auto;
	}
	#DonateModal .modal-dialog{
		width:97%;
	}
	.partner-carousel .push-top{
		margin-top:10px;
	}
}
@media only screen and (max-width: 767px) {
	/* Isotope */
	.isotope {
		overflow: visible !important;
		height: auto !important;
	}
	.isotope-item {
		position: static !important;
		margin-right: auto;
		margin-left: auto;
		width: auto;
		float:none;
		-webkit-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-o-transform: none !important;
		transform: none !important;
	}
	.isotope-hidden {
		display: none !important;
	}
	.grid-item .media-box{
		margin-bottom:0;
	}
	.pricing-table.six-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.five-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.four-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.three-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.pricing-table.two-cols > div {
		margin:0 auto 30px;
		width: 100%;
	}
	.content{
		padding:50px 0;
	}
	.grid-item .media-box, .grid-item .media-box img{
		width:100%;
	}
	.page-banner{
		min-height:200px;
	}
	.page-banner h1{
		font-size:30px;
		margin-bottom:0;
	}
	.page-banner h1:before, .page-banner h1:after{
		display:none;
	}
	.page-banner-text{
		bottom:20px;
		text-align:center;
		width:100%;
		left:0;
	}
	.header-info-col{
		display:none;
	}
	.featured-text{
		border-bottom:1px solid #e6e6e6;
		padding-top:25px;
		padding-bottom:25px;
	}
	.parallax-text-block{
		float:none!important;
		width:100%;
	}
	.parallax br{
		content:"";
	}
	.parallax br:after{
		content:" ";
	}
	.footer_widget{
		margin-bottom:40px;
	}
	.padding-tb75{
		padding-top:50px;
		padding-bottom:50px;
	}
	.owl-carousel .cause-grid-item:hover{
		-webkit-transition: none;
		-moz-transition: none;
		-ms-transition: none;
		-o-transition: none;
		transition: none;
		top:0;
	}
	.grid-item{
		margin-bottom:40px;
	}
	.owl-carousel .cause-grid-item{
		padding-bottom:20px;
	}
	.owl-carousel .cause-grid-item .btn{
		bottom:-40px;
	}
	.cta, .fw-cta, .cta-fw{
		text-align:center;
	}
	.cta .btn, .fw-cta .btn, .cta-fw .btn{
		float:none!important;
		margin-bottom:20px;
	}
	.widget_donations h4{
		font-size:22px;
	}
	.fact-ico{
		margin-top:20px;
	}
	.fact{
		margin-bottom:20px;
	}
	p.lead br{
		display:none;
	}
	p.lead br:after{
		content:" ";
	}
	.widget_volunteer_form{
		margin-top:40px;
	}
	.spacer-75{
		height:50px;
	}
	.cause-list-item-cont{
		padding-left:20px;
		padding-top:60px;
	}
	.causes-list-item .cause-progress {
    	right: 50%;
    	top: auto;
    	margin-top: -30px;
    	margin-right: -50px;
	}
	.events-list .event-list-item .event-date{
		width:14%;
		margin-right:4%;
	}
	.events-list .event-list-cont{
		width:82%;
	}
	.contact address{
		margin-bottom:30px;
	}
	.hero-slider, .hero-slider.flexslider ul.slides li, .flex-caption-cell{
		height:350px;
	}
	.header-style2 .hero-slider, .header-style3 .hero-slider, .header-style2 .hero-slider.flexslider ul.slides li, .header-style3 .hero-slider.flexslider ul.slides li, .header-style2 .flex-caption-cell, .header-style3 .flex-caption-cell{
		height:250px;
	}
	.flex-caption{
		display:none;
	}
	.copyrights-col-left{
		margin-bottom:15px;
	}
	.copyrights-col-left, .copyrights-col-right{
		text-align:center;
	}
	.footer-menu{
		float:none;
	}
	.site-footer .sp-links{
		margin:22px 0;
	}
	.donation-choice-breaker{
		display:none;
	}
	.single-event .content-block .list-group{
		margin-top:50px;
	}
	.blog-list-item .grid-featured-img{
		margin-bottom:20px;
	}
	#causes-slider .owl-item{
		height:auto!important;
	}
	.counter{
		text-align:center;
	}
	.featured-block{
		margin-bottom:40px;
	}
}

/* FOR TIMELINE */
/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}
@media only screen and (min-width: 1170px) {
  #cd-timeline {
    margin-top: 3em;
    margin-bottom: 3em;
  }
  #cd-timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.cd-timeline-block {
  position: relative;
  margin: 2em 0;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-block {
    margin: 4em 0;
  }
  .cd-timeline-block:first-child {
    margin-top: 0;
  }
  .cd-timeline-block:last-child {
    margin-bottom: 0;
  }
}

.cd-timeline-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.cd-timeline-img img {
  display: block;
  width: 24px;
  height: 24px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -12px;
}
.cd-timeline-img.cd-picture {
  background: #75ce66;
}
.cd-timeline-img.cd-movie {
  background: #c03b44;
}
.cd-timeline-img.cd-location {
  background: #f0ca45;
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .cssanimations .cd-timeline-img.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-img.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-1 0.6s;
    -moz-animation: cd-bounce-1 0.6s;
    animation: cd-bounce-1 0.6s;
  }
}

@-webkit-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
.cd-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
}
.cd-timeline-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-content h2 {
  color: #303e49;
}
.cd-timeline-content p, .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
  display: inline-block;
}
.cd-timeline-content p {
  margin: 1em 0;
  line-height: 1.6;
}
.cd-timeline-content .cd-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color: #bac4cb;
}
.cd-timeline-content .cd-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.cd-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .cd-timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .cd-timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-timeline-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .cd-timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .cd-timeline-content .cd-read-more {
    float: left;
  }
  .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
    float: right;
  }
  .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
  .cssanimations .cd-timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .cd-timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    -moz-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width: 1170px) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    -moz-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
  }
}
@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

/* END TIMELINE STUFF */


@media only screen and (min-width: 480px) and (max-width: 767px) {
}
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
	.default-retina-logo{
		display:block;
	}
	.default-logo, .sticky .default-retina-logo, .sticky .default-logo, .sticky .default-retina-logo, .sticky .sticky-logo{
		display:none;
	}
	.sticky .sticky-retina-logo{
		display:block;
	}
}